body {
  margin: 0;
  padding: 0;
  background-color: #292B34;
  color: white;
}

header, footer {
  padding: 20px;
  background-color: #31343d;
}

p, a {
  font-size: 2rem;
}

a {
  color: #6BB6ED;
}

div.container {
  padding: 20px;
  min-height: 85vh;
}

img.logo {
  width: 500px;
  max-width: 90%;
  padding: 100px 0;
}

.center {
  text-align: center;
}